* {
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

a:link,
a:visited,
a:hover,
a:active {
    color: black;
}

.pagewidth {
    width: 960px;
    margin: 0 auto;
    text-align: center;
}

.title {
    font-weight: 600;
    font-size: 60px;
    margin-top: 60px;
    font-family: 'Expletus Sans', sans-serif;
}